body{
    background: linear-gradient(rgba(0, 0, 0, 0.60),rgba(0,0,0,0.65)),
    url(../images/bimg.jpg )center center no-repeat;
    height:600px;
    width: 100%;
    background-size: 100%;
    background-position: center;
}
.login-page{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}
.form{
    position: relative;
    z-index: 1;
    background: #91fc17;
    max-width: 0 auto;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    border-radius: 15px;
}
.form input{
    font-family: "Roboto",sans-serif;
    outline: 1;
    color: rgb(247, 247, 247);
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 25px ;
    text-align: center;
    background: rgb(147, 151, 158);
}
.form button{
    font-family: "Robote",sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #27d4d4;
    width: 100%;
    padding: 15px;
    color:#FFFFFF;
    font-size: 14px;
    cursor: pointer;
    border-radius: 25px;
}
.form button:hover,.form button :active{
    background: rgb(19, 45, 70);
}
.form .message{
margin: 15px 0 0;
color: aliceblue;
font-size: 14px;
}
.form .message a{
    text-decoration: none;
    color: rgb(6, 32, 87);
    font-weight: 700;
}
.register-form{
    display: none;
}